body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.col-1 {
  flex: 0 0 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666667%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.33333333%;
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.22222222%;
}
.col-8 {
  flex: 0 0 66.66666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.11111111%;
}
.col-11 {
  flex: 0 0 91.66666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.row {
  display: flex;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 0 0;
}
.nav {
  background-color: white;
}

.padding {
  height: 80px;

  left: 0;
  right: 0;
  top: 0;
}
.dis-flex {
  display: flex;
  justify-content: space-between;
}
.a-btn {
  padding-right: 75px;
}
.a-btn a {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19, 2px;
  text-decoration: none;
  color: black;
}
.a-btn button {
  width: 93px;
  height: 51px;

  margin: 14px;

  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: none;
}
.a-btn button a {
  width: 49px;
  height: 20px;

  font-style: normal;
  line-height: 19, 2px;
  font-size: 16px;
  padding: 10px;
}

.img-logo {
  padding: 20px 0 20px 30px;
}

.grey-head {
  background-color: #f3f3f2;
  margin: 0;
  width: 100%;
  height: 640px;
}
.grey-head h1 {
  font-size: 48px;
  line-height: 57, 6px;
}
.grey-head p {
  font-size: 18px;

  line-height: 29px;
  color: #55524e;
}
.img-girl {
  padding-right: 75px;
}
.padd {
  padding: 100px 60px 60px 70px;
}

.small-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  padding: 15px;
  background-color: white;

  border-radius: 8px;
  position: absolute;
  bottom: 50px;
  left: 70px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.12);;
}
.small-nav span {
  color: #787573;
  font-size: 12px;
}
.small-nav p {
  font-size: 13px;
}
.small-nav button a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.small-nav button img {
  position: relative;
  top: 2px;
}

.small-nav button {
  background-color: #08786c;
  border-radius: 8px;
  padding: 20px 50px;
  border: none;
}

.padding-col {
  padding: 20px;
}
.main-first {
  padding: 80px;
}
.main-first h4 {
  line-height: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.main-first p {
  line-height: 24px;
  font-size: 16px;
  color: #55524e;
}

.font-roboto-400 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;

  font-style: normal;
}
.color-green {
  color: #08786C;
  text-decoration: none;
}
.h2-ap {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.h2-ap p {
  align-content: center;
  font-size: 19px;
}
.h2-ap h2 span {
  font-weight: 700;
}
.h2-ap h2 {
  font-weight: 400;
  font-size: 32px;
}
.h2-ap a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.main-pink {
  background-color: #fbede4;
}
.col-img {
  padding: 50px 20px 20px 60px;
}
.col-right {
  padding: 0;
  padding-top: 100px;
}
.col-right h2 {
  font-weight: 400;
  font-size: 32px;
}
.col-right h4 {
  font-size: 19px;
  font-weight: 400;
  margin: 5px;
}
.col-right p {
  padding: 5px;
  padding-top: 0;
  line-height: 25px;
  margin-top: 0;
}
.d-flex {
  display: flex;
}
.img-margin {
  margin-bottom: 15px;
  margin-right: 10px;
}
.p-margin {
  margin-bottom: 20px;
}

.main-green {
  background-color: #194240;
  color: white;
}
.sp {
  padding-top: 40px;
}
.sp h1 {
  padding: 0 80px 0 80px;
  font-size: 48px;
}
.sp p {
  font-size: 16px;
  padding: 80px 0 0 80px;
}
.img-bed {
  padding: 80px 80px 140px 80px;
}
.card {
  padding: 0 70px 0 70px;
  width: 100%;
}
.card img {
  width: 285px;

}
.card p {
  padding-left: 10px;
}
.lamp {
  padding: 50px 0 0 170px ;
}
