body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.row {
  display: flex;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 0 0;
}
.nav {
  background-color: white;
}

.padding {
  height: 80px;

  left: 0;
  right: 0;
  top: 0;
}
.dis-flex {
  display: flex;
  justify-content: space-between;
}
.a-btn {
  margin-right: 23px;
}
.a-btn a {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19, 2px;
  text-decoration: none;
  color: black;
}
.a-btn button {
  width: 93px;
  height: 51px;

  margin: 14px;

  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: none;
}
.a-btn button a {
  width: 49px;
  height: 20px;

  font-style: normal;
  line-height: 19, 2px;
  font-size: 16px;
  padding: 10px;
}

.img-logo {
  padding: 20px 0 20px 30px;
}

.grey-head {
  background-color: #f3f3f2;
  margin: 0;
  width: 100%;
  height: 640px;
}
.grey-head h1 {
  font-size: 48px;
  line-height: 57, 6px;
}
.grey-head p {
  font-size: 18px;

  line-height: 29px;
  color: #55524e;
}
.img-girl {
  margin-right: 30px;
}
.padd {
  padding: 100px 60px 60px 70px;
}

.small-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  padding: 15px;
  background-color: white;

  border-radius: 8px;
  position: absolute;
  bottom: 50px;
  left: 70px;
}
.small-nav span {
  color: #787573;
  font-size: 12px;
}
.small-nav p {
  font-size: 13px;
}
.small-nav button a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.small-nav button img {
  position: relative;
  top: 2px;
}

.small-nav button {
  background-color: #08786c;
  border-radius: 8px;
  padding: 20px 50px;
  border: none;
}

.padding-col {
  padding: 20px 70px;
}

.main-first h4 {
  line-height: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.main-first p {
  line-height: 24px;
  font-size: 16px;
  color: #55524e;
}

.font-roboto-400 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;

  font-style: normal;
}

.h2-ap {
  padding: 70px;

  display: flex;
  justify-content: space-between;
}

.h2-ap p {
  align-content: center;
  font-size: 19px;
}
.h2-ap h2 span {
  font-weight: 700;
}
.h2-ap h2 {
  font-weight: 400;
  font-size: 32px;
}
.h2-ap a {
  color: 
  #000000;
  text-decoration: none;
  font-size: 16px;
}


.main-pink {
  background-color:  #FBEDE4;;
}
.main-pink img {
  float: left;
  margin: 10px;
}